<% layout('layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="mt-2">Create new listing</h3>
      <form
        action="/listings"
        novalidate
        method="post"
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            type="text"
            name="listing[title]"
            placeholder="Add a eye-catching title"
            required
          />
          <div class="invalid-feedback">Enter a valid title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="Description your listing"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Short description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input type="file" name="listing[image][url]" class="form-control" />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>

            <input
              class="form-control"
              type="number"
              name="listing[price]"
              placeholder="enter price"
              required
            />
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              class="form-control"
              type="text"
              name="listing[country]"
              placeholder="enter country name"
              required
            />
            <div class="invalid-feedback">Country name required</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            class="form-control"
            type="text"
            name="listing[location]"
            placeholder="enter location"
            required
          />
          <div class="invalid-feedback">Enter a valid Location</div>
        </div>
        <button class="add-btn btn btn-primary mb-4">Submit</button>
      </form>
    </div>
  </div>
</body>
