body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* Navbar  */

.navbar{
    height: 5rem;
    background-color: #fff !important;
}
.navbar-collapse{
    height: 5rem;
    background-color: #fff !important;
}
.fa-compass{
    font-size: 2rem;
    color: #fe434a;
}

.nav-link{
    color: #222222 !important;
}

.nav-search {
    border: 1px solid rgb(164, 159, 159);
    border-radius: 22px;
    padding: 0.3rem;
    box-shadow: rgba(104, 103, 103, 0.35) 0px 5px 9px;
}
.nav-search-small{
    display: none !important;
    width: 60%;
}
.search-btn {
    background-color: #fe424d !important;
    color: #fff;
    border-radius: 50% !important;
    padding: 0.25rem 1rem !important;
}
.search-btn:hover {
background-color: #fe424d;
color: #fff;
}
.search-btn i {
display: inline;
}
.search-input {
border-radius: 25px !important;
padding: 0.5rem 3rem !important;
border: none !important;
margin-right: 0.6rem !important;
}
.search-input:focus {
box-shadow: none !important;
}

/* filters */
#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .filter {
    text-align: center;
    margin-right: 2.5rem;
    margin-top: 1.3rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: 1.7rem;
    height: 2.9rem;
    padding: 1rem;
    margin-left: 4.5rem;
    display: flex;
    align-items: center;
  }

  .tax-info {
    display: none;
  }

/* card  */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card .card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    border: none !important;
}

/* Edit page  */
.edit-btn{
    border: none !important;
}

/* Show page  */

.single-listing-contaienr{
    width: 90%;
    display: flex !important;
    justify-content: center;
}
.show-img{
    height: 60vh;
}
.btns{
    display: flex;
    margin-bottom: 2rem;
}

/* Review rating  */
.star {
    font-size: 24px;
    color: gold;
    display: inline-block;
}
.star.inactive {
    color: lightgray;
}

/* footer  */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1rem;
}
.f-info{
    height: 8rem;
    background-color: #cde;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* Map Styles */

#map{
    height: 500px;
    width: 60vw;
}
.custom-icon {
    background-color: red; /* Change this to the color you need */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

@media screen and (max-width: 767px){
    .nav-search-small{
        display: block !important;
        padding: 0 !important;
        height: 50px;
        border: none;
    }
    .show-img{
        height: 50vh;
    }
    .review-card{
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 576px) {
    #map{
        height: 400px;
        width: 87vw;
    }
    .single-listing-contaienr{
        width: 100% !important;
        margin-left: 0 !important;
    }
    .single-listing-contaienr .btn-delete{
        margin-left: 12px;
    }
    .navbar-collapse{
        height: auto;
    }
    .nav-search{
        padding: 0;
    }
    
    .nav-search-small form{
        margin: 0 auto !important;
    }
    .nav-search-small form button{
        margin: 4px 4px 0 0;
    }
    .nav-search-small .btn-search{
        background-color: #fff;
    }
    .nav-search-small input{
        padding: 5px 5px 0 5px !important;
    }
    #filters{
        display: none;
    }
    .f-info{
        height: 5rem;
    }
  }
  